# Carpetas generadas por ROS 2 y colcon
**/build/
**/install/
**/log/

# Archivos generados por Python
**/__pycache__/
*.pyc
*.pyo
*.egg-info/

# Editores
**/.vscode/
**/.idea/
*.swp

# Archivos del sistema
.DS_Store
